.product-container {
  padding: 40px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-card {
  border-radius: 16px !important;
  overflow: hidden;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image-wrapper {
  position: relative;
  background-color: #fffaf4;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 12px;
}

.best-seller-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.product-title {
  text-align: center;
  font-weight: 500;
  color: #333;
  margin-top: 8px;
}

.product-price {
  text-align: center;
  color: #e86a33;
  font-style: italic;
  font-weight: 500;
}
